@charset "UTF-8";
/*
  Document    : CSS样式初始化  
  Created on  : 2017.7.27  
  Author      : None  
  Description : CSS样式表的初始化，全局样式设置。部分样式属性请根据具体页面重置其属性  
*/
/* reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
  margin: 0;
  padding: 0; }

/* 初始化标签在所有浏览器中的margin、padding值 */
fieldset, img {
  border: 0 none; }

/* 重置fieldset（表单分组）、图片的边框为0*/
dl, ul, ol, menu, li {
  list-style: none; }

/* 重置类表前导符号为onne,menu在HTML5中有效 */
blockquote, q {
  quotes: none; }

/* 重置嵌套引用的引号类型 */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

/* 重置嵌套引用*/
input, select, textarea, button {
  vertical-align: middle; }

/* 重置表单控件垂直居中*/
button {
  border: 0 none;
  background-color: transparent;
  cursor: pointer; }

/* 重置表单button按钮效果 */
body {
  background: #fff; }

/* 重置body 页面背景为白色 */
body, th, td, input, select, textarea, button {
  font-size: 12px;
  line-height: 1;
  font-family: "微软雅黑", "黑体","宋体";
  color: #666; }

/* 重置页面文字属性 */
a {
  color: #666;
  text-decoration: none; }

/* 重置链接a标签 */
a:active, a:hover {
  text-decoration: none; }

/* 重置链接a标签的鼠标滑动效果 */
address, caption, cite, code, dfn, em, var {
  font-style: normal;
  font-weight: normal; }

/* 重置样式标签的样式 */
caption {
  display: none; }

/* 重置表格标题为隐藏 */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed; }

/* 重置table属性 */
img {
  vertical-align: top; }

/* 图片在当前行内的垂直位置 */
/* 页面设置 */
a {
  outline: none; }

a:active {
  star: expression(this.onFocus=this.blur()); }

/* 取消a标签点击后的虚线框 */
::selection {
  color: #fff;
  background-color: #4C6E78; }

::-moz-selection {
  color: #fff;
  background-color: #4C6E78; }

/* 设置页面文字等在拖动鼠标选中情况下的背景色与文字颜色 */
.clearfix:before, .clearfix:after {
  content: '';
  display: table; }

.clearfix:after {
  clear: both; }

/*清除浮动*/
body {
  font-size: 62.5%;
  background-color: #fafafa !important;
  overflow-x: hidden; }

/*根据页面实际需求的添加*/
header {
  height: 2.5rem;
  background: white; }

.top {
  margin: 0 auto;
  width: 1150px; }

.phone {
  float: left;
  margin-top: 0.8rem;
  color: #29b078;
  font-size: 0.9rem; }

.img {
  float: right;
  margin: 0.5rem 0 0 0.5rem;
  cursor: pointer; }

@media only screen and (max-width: 1199px) {
  .top {
    width: 942px; } }
@media only screen and (max-width: 991px) {
  .top {
    width: 718px; } }
@media only screen and (max-width: 767px) {
  .top {
    margin: 0 15px;
    width: auto; } }
.guide {
  height: 6rem;
  background: #29b078; }

.guide1 {
  margin: 0 auto;
  width: 1150px; }

.guide2, .guide3 {
  float: right;
  padding: 2.15rem 2.5rem;
  color: white;
  font-size: 1.2rem; }

.guide3 {
  margin-right: -2.5rem; }

.guide2:hover, .guide3:hover {
  border-bottom: 0.5rem solid white; }

@media only screen and (max-width: 1199px) {
  .guide1 {
    width: 942px; } }
@media only screen and (max-width: 991px) {
  .guide1 {
    width: 718px; } }
@media only screen and (max-width: 800px) {
  .guide3 {
    margin-right: -1.5rem; } }
.blank {
  display: none; }

@media only screen and (max-width: 767px) {
  .guide {
    height: auto; }

  .blank {
    display: block;
    margin-left: 10rem;
    width: 1px;
    height: 3rem; }

  .guide1 {
    display: none; } }
.guide4 {
  display: none; }

@media only screen and (max-width: 767px) {
  .guide4 {
    display: block; } }
.guide5 {
  float: right;
  margin: -3rem 15px 0 0;
  color: white;
  font-size: 2rem;
  line-height: 3rem;
  cursor: pointer; }

.guide6 {
  display: none;
  padding-bottom: 0.5rem;
  background: #29b078; }

.guide4:hover .guide6 {
  display: block; }

.guide7, .guide8 {
  color: white;
  font-size: 1rem;
  line-height: 3rem;
  text-align: center; }

.guide7 {
  border-top: 1px solid lightgray; }

.guide7:hover, .guide8:hover {
  border-bottom: 1px solid lightgray; }

.logo {
  margin-top: 1.5rem; }

.logo1 {
  display: none;
  float: left;
  margin: -2.6rem 0 0 15px;
  width: 5rem; }

@media only screen and (max-width: 767px) {
  .logo1 {
    display: block; } }
footer {
  color: white;
  background: #29b078; }

.bottom1 {
  margin: 0 auto;
  width: 1150px; }

.tree {
  float: left;
  margin-top: 2rem; }

.skill1 {
  font-size: 1rem; }

.skill2 {
  display: flex;
  margin-top: 4rem; }

.skill3 {
  cursor: pointer; }

.skill3:hover {
  border-bottom: 1px solid white; }

.web {
  padding: 2rem 0 2rem 21rem; }

.skill4 {
  display: flex; }

.skill5 {
  margin-top: 1.61rem;
  cursor: pointer; }

.skill6 {
  margin: 1.61rem 0 0 3.5rem;
  cursor: pointer; }

.skill5:hover, .skill6:hover {
  border-bottom: 1px solid white; }

.wechat {
  float: right;
  margin-top: -8.5rem; }

.text8 {
  margin: 0 0 0.5rem 0.5rem; }

@media only screen and (max-width: 1199px) {
  .bottom1 {
    width: 942px; } }
@media only screen and (max-width: 991px) {
  .bottom1 {
    width: 718px; }

  .web {
    padding: 2rem 0 2rem 15rem; } }
@media only screen and (max-width: 767px) {
  .bottom1 {
    margin: 0 15px;
    width: auto; } }
@media only screen and (max-width: 600px) {
  .bottom1 {
    width: 100%;
    margin: 0; }

  .tree, .web, .wechat {
    padding: 1rem 0 1rem 15px; }

  .tree, .wechat {
    float: none; }

  .wechat {
    margin: 0; } }
.bottom2 {
  padding: 0 15px;
  line-height: 2rem;
  text-align: center;
  border-top: 1px solid white; }

.border {
  float: left;
  width: 18rem;
  background: white;
  border-radius: 2%;
  box-shadow: 0 0 0.1rem darkgray; }

.title3 {
  padding: 1rem 0;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid lightgray; }

ul, li {
  padding: 1rem 0; }

.circle {
  float: left;
  margin: 0.2rem 0.5rem 0 6rem;
  width: 7px;
  height: 7px;
  border: 2px solid #f9a372;
  border-radius: 100%; }

.name {
  color: #29b078;
  font-size: 1rem; }

li:hover .circle {
  background: #f9a372; }

li:hover .name {
  font-weight: bold;
  color: #f9a372; }

.banner {
  width: 100%; }

.title1 {
  display: flex;
  margin: 1.5rem auto;
  width: 1150px;
  font-size: 1rem; }

.title2, .company {
  color: black;
  text-decoration: none; }

.company {
  color: #29b078; }

@media only screen and (max-width: 1199px) {
  .title1 {
    width: 942px; } }
@media only screen and (max-width: 991px) {
  .title1 {
    width: 718px; } }
@media only screen and (max-width: 767px) {
  .title1 {
    margin: 1.5rem 15px;
    width: auto; } }
main {
  margin: 0 auto;
  width: 1150px; }

@media only screen and (max-width: 1199px) {
  main {
    width: 942px; } }
@media only screen and (max-width: 991px) {
  main {
    width: 718px; } }
@media only screen and (max-width: 767px) {
  main {
    margin: 0 15px;
    width: auto; } }
.mainright {
  margin: 0 0 10rem 20rem;
  padding: 1rem 0;
  background: white;
  border-radius: 2%;
  box-shadow: 0 0 0.1rem darkgray; }

.title4 {
  padding: 0 2rem;
  border-bottom: 1px solid lightgray; }

.text1 {
  margin: -6rem 0 2rem 10rem;
  color: darkgray;
  line-height: 1.5rem; }

.text2 {
  margin: 2rem 0;
  padding: 0 5rem;
  color: darkgray;
  line-height: 1.5rem; }

@media only screen and (max-width: 1199px) {
  .logo2 {
    margin-top: 1rem; }

  .text1 {
    margin-top: -7rem; } }
@media only screen and (max-width: 991px) {
  .border {
    width: 12rem; }

  .circle {
    margin-left: 3rem; }

  .mainright {
    margin-left: 14rem; }

  .logo2 {
    margin-top: 3rem; }

  .text1 {
    margin-top: -9rem; } }
@media only screen and (max-width: 767px) {
  .border {
    float: none;
    width: 100%;
    height: 15rem;
    margin-bottom: 2rem; }

  li {
    float: left;
    width: 10rem; }

  .mainright {
    width: 100%;
    margin-left: 0; }

  .logo2 {
    margin-top: 1rem; }

  .text1 {
    margin-top: -7rem; } }
@media only screen and (max-width: 670px) {
  .border {
    height: 18rem; } }
@media only screen and (max-width: 600px) {
  .logo2 {
    margin: 0 auto;
    width: 8rem; }

  .text1 {
    margin: 0 0 2rem 0; }

  .text2 {
    padding: 0 2rem; } }
@media only screen and (max-width: 509px) {
  .border {
    height: 25rem; } }
@media only screen and (max-width: 366px) {
  .border {
    height: 40rem; }

  li {
    width: 20rem; }

  .circle {
    margin-left: 30%; } }

/*# sourceMappingURL=Task14-3.css.map */
