@charset "utf-8";  

//页面中出现频率较高的参数设置

$color1: rgb(41,176,120);
$color2: white;
$color3: darkgray;
$color4: lightgray;
$width: 100%;
$width1: 1150px;
$width2: 942px;
$width3: 718px;
$height1: 3rem;
$height2: 6rem;