@charset "utf-8";  
@import '../../parameter/parameter';

//页面一优秀学员展示部分代码

.studentshow0{
    display: flex;
    margin-top: $height1;
}
.studentshow{
    margin: 0 1rem;
    width: 25%;
    text-align: center;
    background-color: $color2;
    border: 1px solid $color4;
    border-bottom: 2px solid $color4;
    border-radius: 5px;
}
.img7{
    margin: 1.5rem 0 2.5rem 0;
}
.name{
    font-size: 1.1rem;
    font-weight: bold;    
}
.text6{
    padding: 1rem 2rem 2rem 2.5rem;
    text-align: left;
    line-height: 1.5rem;   
}
@media only screen and (max-width: 1199px) {
    .studentshow{
        margin: 0 0.5rem;
    }
    .name{
        font-size: 0.9rem;
    }
    .text6{
        padding: 1rem 1.5rem 2rem 2rem;
    }
}
@media only screen and (max-width: 991px) {
    .studentshow0{
        display: block;
        margin: 0 10px 0 -5px;
    }
    .studentshow{
        margin-bottom: 2rem;
        width: $width;
    }
    .text6{
        padding: 1rem 5rem 2rem 5rem;
    }
}
@media only screen and (max-width: 400px) {
    .text6{
        padding: 1rem 2rem 2rem 2.5rem;
    }
}
.point{
    display: flex;
    margin: 1rem auto;    
    width: 4.5rem;
}
.point1,.point2{
    margin: 0 0.2rem;
    width: 12px;
    height: 12px;
    background: $color2;
    border-radius: $width;    
    cursor: pointer;
}
.point1{
    background: $color1;
}
.point2:hover{
    background: $color1;
}